::ng-deep .p-menubar ul.p-menubar-root-list {
  width: 100%;
  justify-content: center !important;
  align-items: center !important;
  margin: 0 auto !important;
}
.p-menubar{
  border: 0px !important;
}

.leyend-cont {
  position: static;
}

.leyend {
  position: static;
}
a{
  cursor: pointer !important;
}
.pi-user{
  font-size: 40px;
  color: white;
}