<div class="loader">
  <!-- Logo IMAEB -->
  <div class="item-loader">
    <div class="imaeb d-flex flex-column align-items-center my-2 ">
      <h1 class="imaeb-title text-5xl px-2 py-1 rounded-lg text-white fw-bold">
        IMAEB
        <i class="pi pi-check check fw-bold text-emerald-400"></i>
      </h1>
      <p class="text-center text-2xl fw-bold imaeb-subtitle">Alumnos y Alumnas</p>
    </div>

    <div class="loading text-capitalize fw-semibold text-lg">
      Cargando Informacion ...
      <div class="card">
        <p-progressbar mode="indeterminate" [style]="{'height': '6px'}" [color]="'#D3C0AF'" />
      </div>
    </div>
  </div>
</div>