
.imaeb-title {
    position: relative;
    background: var(--principal-cafe);
    width: fit-content;
}

.imaeb-subtitle {
    color: var(--secundario-cafe);
}

.check {
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 20px;
    font-weight: 900;
}

.pi-check {
  text-shadow: 
    -1px -1px 0 #fff,
     1px -1px 0 #fff,
    -1px  1px 0 #fff,
     1px  1px 0 #fff;
}
