<div class="contenedor flex flex-col md:flex-row gap-4 mt-5 shadow-md md:shadow-none rounded-lg p-3">
    <!-- bloque 1 -->
    <div class="d-flex justify-content-center items-center bg-sky-500 rounded-lg w-full md:w-1/3">
        <p class="px-2 py-2 text-capitalize text-white text-center">analis y representacion de datos</p>
    </div>

    <!-- bloque 2 -->
    <div class="flex gap-2 w-full md:w-1/3">
        <div class="text-center px-1 py-2 w-1/2 border">
            <p class="mb-2 text-sm font-medium">Aciertos</p>
            <p class="text-3xl text-emerald-500 font-medium">80 <small>%</small></p>
        </div>
        <div class="text-center px-1 py-2 w-1/2 border">
            <p class="mb-2 text-sm font-medium">Promedio estatal</p>
            <p class="text-3xl font-medium">61 <small>%</small></p>
        </div>
    </div>

    <!-- bloque 3 -->
    <div class="w-full md:w-1/3">
        <div class="h-full flex justify-center items-center">
            <app-nivel-desempeno-imagen class="w-full"></app-nivel-desempeno-imagen>
        </div>
    </div>
</div>
