@if (loader) {
<app-loader-page></app-loader-page>
}


@if (!loader) {

<div class="mb-5">
  <app-title [title]="'resultados de imaeb del grupo ' + grupo"></app-title>
</div>



<main class="space-y-6">
  <!-- sección: unidad de análisis y resultados -->
  <section
    class="first-seccion bg-white p-4 rounded-lg shadow flex flex-col gap-6 lg:flex-row lg:items-start flex-wrap">
    <!-- Columna 1: unidad de análisis -->
    <div class="w-full lg:w-1/3 flex-1 ">
      <div>
        <app-subtitle [subtitle]="'Examenes Utilizados'"></app-subtitle>
        <app-item-porcentaje-area-evaluada [title]="''" [firstLeyendPercent]="'Utilizados'"
          [secondLeyendPercent]="'No Utilizados'" [firstPercent]="resConteoExamenesUtilizados.utilizadas"
          [secondPercent]="resConteoExamenesUtilizados.noUtilizadas">
        </app-item-porcentaje-area-evaluada>
      </div>

@if(conteoAlumnos.totalHombres > 0 && conteoAlumnos.totalMujeres  > 0  ){
        <div class="mt-4 rounded-lg">
        <div class="flex justify-center">
          <app-subtitle [subtitle]="'Genero'"></app-subtitle>
        </div>

        <div class="chart-genero w-full flex justify-around gap-3 px-2">
          <div class="!w-[200px] ">
            <app-chart-figure-gir-boy
              [relleno]="(conteoAlumnos.totalMujeres / (conteoAlumnos.totalAlumnos) * 100 )  "></app-chart-figure-gir-boy>
          </div>
          <div class="!w-[200px]">
            <app-chart-figure-gir-boy
              [relleno]="(conteoAlumnos.totalHombres / (conteoAlumnos.totalAlumnos) * 100 ) "
              [isBoy]="true"></app-chart-figure-gir-boy>
          </div>
        </div>
      </div>
}
    </div>


    <!-- Columna 2: promedios -->
    <div class="prom-generales w-full lg:w-1/3 flex-1 py-2 flex gap-4 justify-between sm:justify-around">
      <app-single-promedio [title]="'Promedio Grupo'" [content]="promedioGrupo.toString()"></app-single-promedio>
      <app-single-promedio [isEstatal]="true" [content]="promedioEstatal.toString()"></app-single-promedio>
    </div>

    <!-- Columna 3: resultados por materia -->
    <div class="result-container w-full lg:w-1/3 flex-1 py-2 flex flex-col gap-4">
      @for (item of conteNivelDesempenio; track $index) {
             <div>
        <app-tabla-resultados-evidencia [title]="item.materia" [bgColorTitle]="'bg-sky-500'" [data]="item.filas"
          (onEmitMateriaSelected)="materiaSelected($event)">
        </app-tabla-resultados-evidencia>
      </div>
      }

      <!-- <div>
        <app-tabla-resultados-evidencia [title]="'Saberes y Pensamiento Cientifico: Matematicas'"
          [bgColorTitle]="'bg-emerald-500'" [data]="" (onEmitMateriaSelected)="materiaSelected($event)">
        </app-tabla-resultados-evidencia>
      </div>

      <div>
        <app-tabla-resultados-evidencia [title]="'Saberes y Pensamiento Cientifico: Ciencias'"
          [bgColorTitle]="'bg-yellow-500'" [data]="" (onEmitMateriaSelected)="materiaSelected($event)">
        </app-tabla-resultados-evidencia>
      </div> -->
    </div>
  </section>

  <!-- sección: nivel de desempeño y porcentaje de aciertos -->
  <section class="second-seccion bg-white p-4 rounded-lg shadow flex flex-col-reverse gap-6 lg:flex-col mt-10">
    <!-- Nivel de desempeño -->
    <div class="w-full py-2 mt-2 shadow-md">
      <app-item-nivel-desempeno></app-item-nivel-desempeno>
    </div>

    <!-- Porcentajes / otros items -->
    <div class="item-porcentajes w-full py-2 mt-2 shadow-md flex flex-col gap-4 lg:flex-row">
      <!-- item 2 sección 2 -->
      <div class="w-full lg:w-1/3 py-2 px-2 flex justify-center items-center">
        <!-- contenido -->
      </div>

      <!-- puedes agregar más columnas aquí, se apilan en móvil y van a 3 columnas en lg -->
    </div>
  </section>
</main>
}