header {
    border-bottom: 4px solid var(--principal-cafe);
    padding: 10px; /* mejor que height fijo */
}

.logo-secretaria {
    max-height:35px;
    width: auto;
}

.imaeb-title {
    position: relative;
    background: var(--principal-cafe);
    width: fit-content;
}

.imaeb-subtitle {
    color: var(--secundario-cafe);
}

.check {
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 20px;
    font-weight: 900;
}

.pi-check {
  text-shadow: 
    -1px -1px 0 #fff,
     1px -1px 0 #fff,
    -1px  1px 0 #fff,
     1px  1px 0 #fff;
}

.img-extra {
    width: 60px;
    height: 60px;

  }


/* Orden normal (pantallas chicas) */
.header-item {
  order: 1; /* logos secretarías */
}
.imaeb {
  order: 2; /* logo IMAEB */
}
.imgs-extras {
  order: 3; /* imágenes extras */
}
@media (max-width:750px){

header{
  display: flex;
  flex-direction: column;

}

.header-item{

    img{
        height: 30px;
    }
}
.imgs-extras{
  margin-top: 0px !important;
}
.img-extra{
    width: 30px;
    height: 30px;
}
  .imaeb {
    order: 1; /* primero */
  }
  .header-item {
    order: 2; /* segundo */
  }
  .imgs-extras {
    order: 3; /* último */
  }

}
