<header class="d-flex flex-wrap align-items-center justify-content-between px-3 py-2">
  
  <!-- Logos de secretarías -->
  <div class="header-item d-flex flex-wrap gap-3 align-items-center">
      <img class="logo-secretaria" src="./assets/images/sepen22s.png" alt="">
      <img class="logo-secretaria" src="./assets/images/EDUCACIONBeige-300x95.png" alt="">
      <img class="logo-secretaria" src="./assets/images/w_Txt.png" alt="">
  </div>

  <!-- Logo IMAEB -->
  <div class="imaeb d-flex flex-column align-items-center my-2">
      <h1 class="imaeb-title text-5xl px-2 py-1 rounded-lg text-white fw-bold">
          IMAEB
          <i class="pi pi-check check fw-bold text-emerald-400"></i>
      </h1>
      <p class="text-center text-2xl fw-bold imaeb-subtitle">Alumnos y Alumnas</p>
  </div>

  <!-- Imágenes extras -->
 <div class="imgs-extras d-flex flex-wrap gap-4 align-items-center justify-content-center my-4">
    <div class="img-extra d-flex justify-content-center align-items-center">
        <img src="./assets/images/Imagen_de_WhatsApp_2025-08-25_a_las_14.02.46_c16c5c97-pica-removebg-preview.png" 
             alt="WhatsApp" 
             class="img-fluid rounded-3  hover-zoom">
    </div>
    <div class="img-extra d-flex justify-content-center align-items-center">
        <img src="./assets/images/ciencia.png" 
             alt="Ciencia" 
             class="img-fluid rounded-3  hover-zoom">
    </div>
    <div class="img-extra d-flex justify-content-center align-items-center">
        <img src="./assets/images/activa.png" 
             alt="Activa" 
             class="img-fluid rounded-3  hover-zoom">
    </div>
    <div class="img-extra d-flex justify-content-center align-items-center">
        <img src="./assets/images/imaeb.png" 
             alt="IMAEB" 
             class="img-fluid rounded-3  hover-zoom">
    </div>
</div>

</header>
