<app-navbar></app-navbar>
<header class=" flex align-items-center">

  <!-- Logos de secretarías -->
  <div class=" header-item d-flex flex-wrap gap-3 align-items-center py-3">
    <img class="logo-secretaria" src="./assets/images/logos.png" alt="">
  </div>

  <!-- Logo IMAEB -->
  <div class="imaeb mr-[0%]">
    <img src="./assets/images/logoImaeb.png" alt="WhatsApp" class=" imaeb-logo img-fluid rounded-3  hover-zoom ">

  </div>

</header>
<!-- componente.html -->
<nav aria-label="breadcrumb mx-3">
  <ol class="breadcrumb flex align-items-center">
    <!-- <i class="pi pi-angle-right"></i> -->
<!-- <li></li> -->
    @for (bc of itemsBread ; track bc.jerarquia) {
    <li class="">
      <a [routerLink]="bc.urlLink" class="text-gray-500 text-sm text-capitalize">
        @if(bc.icon){
        <i [class]="bc.icon" class="me-1"></i>
        }@else{
              <i class="pi pi-angle-right !text-xs"></i>
        }
        {{ bc.label }}
      </a>
    </li>
    }
  </ol>
</nav>