<app-header>
</app-header>


<!-- ====================================================== -->
<!-- MENÚ -->
<!-- ====================================================== -->

<div class="mx-2 mb-4 mt-4">

    <div class="flex justify-end">

        @if (items.length >0) {
        <p-speeddial [model]="items" direction="left" [buttonProps]="{
                label: 'Menú',
                severity: 'contrast',
                rounded: true
            }" [tooltipOptions]="{
                tooltipPosition: 'bottom'
            }" [showIcon]="'pi pi-bars'" [rotateAnimation]="false">
        </p-speeddial>
        }

    </div>

</div>


<!-- ====================================================== -->
<!-- CONTENIDO -->
<!-- ====================================================== -->

<div class="mx-auto w-full max-w-screen-xl px-4 pb-5 sm:px-6 lg:px-8">


    @if (
    datosCct &&
    datosCct.cct
    ) {

    <app-datos-ct>
    </app-datos-ct>

    }


    <router-outlet>
    </router-outlet>

</div>