<div class=" flex flex-column align-items-end justify-content-end mx-3">
    <div class="buttons flex gap-4 ">
        <p-button icon="fa-solid fa-children" pTooltip="Preescolar" [tooltipPosition]="'bottom'" raised="true"
            [severity]="nivelSeleccionado == 1 ? 'warn' : 'secondary'" (onClick)="getEstadistica(1)" />
        <p-button icon="fa-solid fa-school" pTooltip="Primaria" [tooltipPosition]="'bottom'" raised="true"
            [severity]="nivelSeleccionado == 2 ? 'warn' : 'secondary'" (onClick)="getEstadistica(2)" />
        <p-button icon="fa-solid fa-school-flag" pTooltip="Secundaria" [tooltipPosition]="'bottom'" raised="true"
            [severity]="nivelSeleccionado == 3 ? 'warn' : 'secondary'" (onClick)="getEstadistica(3)" />
    </div>
    <div class="mt-3">
        <small class="text-gray-400 font-medium "> Seleccione para filtrar por nivel</small>
    </div>
</div>

<div class="flex justify-center">
    <div class="w-fit">
        <app-subtitle [subtitle]="'Resultados generales por nivel'"></app-subtitle>
    </div>
</div>

<!-- estos son los promedios estatales de cada nivel, preescolar, primaria y secundaria -->
<div class="flex justify-around mt-5">
    @for (item of promediosGeneralesEstatales; track $index) {
    <app-single-promedio [isEstatal]="false" [content]="item.promedio.toString()"
        [title]="'Promedio de ' + item.nivel"></app-single-promedio>
    }
</div>

@if (nivelSeleccionado != 0) {
<!-- esta es la grafica de los promedios por las modalidades -->''
<div class="flex justify-center mt-5">
    <div class="w-fit  ">
        <app-subtitle
            [subtitle]="'Promedio por modalidades del nivel ' + getNivelDescription(nivelSeleccionado.toString())"></app-subtitle>
    </div>
</div>
<div class="mx-3">
    <app-char-barra-single-data-set [dataChart]="dataChartModalidades"></app-char-barra-single-data-set>
</div>


<!-- estos seran los promedios estatales del nivel de cada una de las materias -->
<div class="flex justify-center mt-5">
    <div class="w-fit  ">
        <app-subtitle
            [subtitle]="'Promedio por materias del nivel ' + getNivelDescription(nivelSeleccionado.toString())"></app-subtitle>
    </div>
</div>
<div class="flex justify-around pb-4 mt-5">
    @for (item of promedioGeneralesEstatalesBynivelAndMateria; track $index) {
    <app-ejercicio-resultado [title]="'Promedio estatal de  '+ item.materia! + ' ' +getNivelDescription(nivelSeleccionado.toString()) " [contenido]="item.promedio.toString()"></app-ejercicio-resultado>
}
</div>

}