<h4 class="text-center mb-4 mt-3"> {{title}} </h4>
<div class="overflow-x-auto w-full">
  <div class="min-w-[650px] flex flex-col w-full">
      <!-- Encabezados -->
      <div class="flex w-full border-b">
          <div class="w-1/4 p-2 text-center font-semibold flex items-center justify-center">
              <p>Nivel</p>
          </div>
          <div class="flex w-3/4">
              <div class="w-2/5 p-2 text-center font-semibold flex items-center justify-center">
                  <p>Descripción</p>
              </div>
              <div class="w-3/5 p-2 text-center font-semibold flex items-center justify-center">
                  <p>Ejemplos</p>
              </div>
          </div>
      </div>

      <!-- Fila 1 -->
      <div class="flex w-full border-b text-sm">
          <div class="w-1/4 p-2 flex justify-center">
              <div class="relative w-4/5 border flex items-center bg-emerald-300 rounded-lg p-2">
                  <img src="./assets/images/girl.svg" alt="" class="absolute -left-6 w-[30px]">
                  <p class="text-center font-medium text-gray-700 w-full">Aprendizaje Desarrollado</p>
              </div>
          </div>
          <div class="flex w-3/4">
              <div class="w-2/5 p-2 text-center border">
                  <p class="text-sm">Domina los conocimientos, saberes y habilidades establecidos.</p>
              </div>
              <div class="w-3/5 p-2 text-center border">
                  <p>Resuelve las tareas de manera autónoma y precisa.  
                     Aplica lo aprendido en contextos nuevos o complejos.  
                     Argumenta y justifica sus respuestas.</p>
              </div>
          </div>
      </div>

      <!-- Fila 2 -->
      <div class="flex w-full border-b text-sm">
          <div class="w-1/4 p-2 flex justify-center">
              <div class="relative w-4/5 border flex items-center bg-red-300 rounded-lg p-2">
                  <img src="./assets/images/girl.svg" alt="" class="absolute -left-6 w-[30px]">
                  <p class="text-center font-medium text-gray-700 w-full">Aprendizaje en Proceso</p>
              </div>
          </div>
          <div class="flex w-3/4">
              <div class="w-2/5 p-2 text-center border">
                  <p >En proceso de consolidar conocimientos.</p>
              </div>
              <div class="w-3/5 p-2 text-center border">
                  <p>Necesita apoyo en contextos complejos.  
                     Requiere acompañamiento para resolver tareas.  
                     Muestra avances pero con errores.</p>
              </div>
          </div>
      </div>

      <!-- Fila 3 -->
      <div class="flex w-full text-sm">
          <div class="w-1/4 p-2 flex justify-center">
              <div class="relative w-4/5 border flex items-center bg-amber-300 rounded-lg p-2">
                  <img src="./assets/images/girl.svg" alt="" class="absolute -left-6 w-[30px]">
                  <p class="text-center font-medium text-gray-700 w-full">Aprendizaje Inicial</p>
              </div>
          </div>
          <div class="flex w-3/4">
              <div class="w-2/5 p-2 text-center border">
                  <p>Apenas comienza a adquirir conocimientos básicos.</p>
              </div>
              <div class="w-3/5 p-2 text-center border">
                  <p>Presenta dificultades en tareas autónomas.  
                     Necesita ayuda constante.  
                     Requiere refuerzo en aprendizajes clave.</p>
              </div>
          </div>
      </div>
  </div>
</div>
