<div class="border border-gray-100 rounded-xl shadow-md bg-gradient-to-br from-white to-gray-50 px-2 w-100">
  <button 
    class="materia w-full px-4 py-2 text-center rounded-lg font-bold text-white shadow-sm truncate " 
    [ngClass]="getBg(title)" 
    (click)="EmitMateriaSelected()">
    {{title}}
  </button>

  <table class="mt-4 w-full border-separate border-spacing-0 ">
    <tr class="bg-gray-100">
      <td class="text-xs text-center border border-gray-200 font-semibold text-gray-600 first:rounded-tl-lg">Grupo</td>
      <td class="text-xs text-center border border-gray-200 font-semibold text-gray-600 first:rounded-tl-lg">Insuficiente</td>
      <td class="text-xs text-center border border-gray-200 font-semibold text-gray-600">Basico</td>
      <td class="text-xs text-center border border-gray-200 font-semibold text-gray-600">Elemental</td>
      <td class="text-xs text-center border border-gray-200 font-semibold text-gray-600 first:rounded-tr-lg">Satisfactorio</td>
    </tr>
    @for (item of data; track $index) {
      <tr class="bg-white">
      <td class="text-center border border-gray-200 font-bold text-gray-800 text-sm first:rounded-bl-lg"> {{item.grupo}} </td>
      <td class="text-center border border-gray-200 font-bold text-gray-800 text-sm first:rounded-bl-lg"> {{item.insuficiente}} </td>
      <td class="text-center border border-gray-200 font-bold text-gray-800 text-sm"> {{item.basico}} </td>
      <td class="text-center border border-gray-200 font-bold text-gray-800 text-sm"> {{item.elemental}} </td>
      <td class="text-center border border-gray-200 font-bold text-gray-800 text-sm first:rounded-br-lg"> {{item.satisfactorio}} </td>
    </tr>
    }
  </table>
</div>
