@if (data.preguntas && data.preguntas.length > 0) {
  @if (title != '') {
  <app-subtitle [subtitle]="title"></app-subtitle>
}

<div class="overflow-x-auto mt-4">
  <table class=" border-separate border-spacing-0 min-w-[600px] w-100 ">
    <thead>
      <tr class="bg-gray-100 text-sm">
        <th class="text-center border border-gray-200 font-semibold bg-c1 text-white px-3 py-1 ">Campo Formativo</th>
        <th class="text-center border border-gray-200 font-semibold bg-c1 text-white px-3 py-1">Aspecto Evaluado</th>
        <th class="text-center border border-gray-200 font-semibold bg-c1 text-white px-3 py-1">Nombre y Numero de Consigna</th>
        <th class="text-center border border-gray-200 font-semibold bg-c1 text-white px-3 py-1 ">Resultado</th>
      </tr>
    </thead>
    <tbody>
@for (item of data.preguntas; track $index) {
        <tr class="bg-white text-xs">
        <td class="text-center border border-gray-200 px-2 py-1 text-gray-800 -lg"> {{data.nombre}} </td>
        <td class="text-center border border-gray-200 px-2 py-1 text-gray-800">
          {{item.contenido}}
        </td>
        <td class="text-center border border-gray-200 px-2 py-1 text-gray-800">
          Ejercicio {{item.numeroPregunta}}  {{item.especificacion}}
        </td>
        <td class="text-center border border-gray-200 px-2 py-1 text-gray-800 ">
          <i class="!font-bold" [class]="item.respuesta  == '1' ? 'pi pi-check' : 'pi pi-times'"
             [ngClass]="item.respuesta  == '1' ? 'text-green' : 'text-red'"></i>
        </td>
      </tr>
}
    </tbody>
  </table>
</div>

<div class="flex gap-3  mt-3">
  <div class="flex w-1/2 text-center border flex-col ">
    <p class="w-100 !mb-0 font-medium">Promedio total de Aciertos</p>
    <p class="text-green font-bold text-xl"> {{promedioCorrectas.toFixed(1)}} </p>
  </div>
  <div class="flex w-1/2 text-center border flex-col ">
    <p class="w-100 !mb-0 font-medium">Promedio total de Desaciertos</p>
    <p class="text-red font-bold text-xl"> {{promedioIncorrectas.toFixed(1)}} </p>
  </div>
</div>

}