@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('./../public/assets/css/primeNgcss.css');

:root {
  --blue: #7D9CCF;
  --green: #68AD68;
  --yellow: #EFC36C;
  --principal-cafe: #C7B29E;
  --secundario-cafe: #5F5A5E;
  --orange: #E58741;
  --red: #D12A56;
  --pink: #fca2b8
}

.bg-c1 {
  background: var(--principal-cafe) !important;
}

.bg-c2 {
  background: var(--secundario-cafe) !important;
}
.bg-blue{
  background: var(--blue);
}
.bg-green{
  background: var(--green);
}
.bg-yellow{
  background: var(--yellow);
}
.bg-orange{
  background: var(--orange);
}
.bg-red{
  background: var(--red);
}
.bg-pink{
  background: var(--pink);
}
.b-c1 {
  border: 1px solid var(--principal-cafe);
}

.b-c2 {
  border: 1px solid var(--secundario-cafe);
}

/* 🔹 Colores de texto */
.text-c1 {
  color: var(--principal-cafe) !important;  
}

.text-c2 {
  color: var(--secundario-cafe) !important;
}
.text-red{
  color: var(--red);
}
.text-green{
  color: var(--green);
}
.text-pink{
  color: var(--pink);
}
.text-blue{
  color: var(--blue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins";
  font-weight: 700;
  font-style: normal;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


// *{
//   border: 1px solid orange;
// }

